[Desktop Entry]
Name=Stream Recorder
GenericName=Video Stream Recorder
Version=1.5
Comment=Plays and records video streams
Exec=srecorder.py %f
Icon=srecorder
Terminal=false
Type=Application
Categories=AudioVideo;Video;
